/.DS_Store
/.rossman_slides_4.pptx.icloud
/2_img_sales_customer_open.png
/Aquamarine_analysis_plan.pdf
/UDatE 2022-2023 Coursework_presentation.pdf
/assignment2_description.pdf
/discussion.pdf
/main_code.ipynb
/original_df
/rossman_slides_v1.pptx
/slide_outline.pdf
/yanfei_doc.pdf
/year_month_df.csv